.main-nav-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-body {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
  background: #f8f9fb;
  overflow-y: auto;
}
